<!-- Content -->
<div class="table-responsive container mt-4">
  <h3>User List</h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="col-3">No</th>
        <th scope="col-3">Username</th>
        <th scope="col-3">Full Name</th>
        <th scope="col-3">Role</th>
        <th scope="col-3">Status</th>
        <th scope="col-3">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ u.username }}</td>
        <td>{{ u.fullName }}</td>
        <td>{{ u.roleName }}</td>
        <td>{{ u.isActive ? "Active" : "Not Active" }}</td>
        <td>
          <a
            class="btn btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#update"
            >Update Status</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/users/create" class="btn btn-primary"> Create User </a>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="update"
  tabindex="-1"
  aria-labelledby="updateModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModal">Update Status User</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-12 col-md-3">
            <label for="soal3" class="form-label">Select status</label>
          </div>
          <div class="col-12 col-md-9 d-flex gap-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="status"
                id="active"
              />
              <label class="form-check-label" for="active"> Active </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="status"
                id="false"
              />
              <label class="form-check-label" for="false"> Not Active </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Submit
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
