<div class="d-flex justify-content-center align-items-center flex-column mt-4">
  <h3>Update User</h3>
  <form>
    <!-- email -->
    <div class="my-3 row align-items-center gy-md-4 container gy-3">
      <!-- Photo Profile -->
      <div class="col-12 col-md-3 align-items-start d-flex flex-column">
        <img src="../../assets/user.png" alt="profile" />
      </div>
      <div class="col-12 col-md-9">
        <input type="file" class="form-control col-12" id="email-address" />
      </div>

      <div class="col-12 col-md-3">
        <label for="email-address" class="form-label">Username</label>
      </div>
      <div class="col-12 col-md-9">
        <input
          type="email"
          value="Mark@gmail.com"
          disabled
          class="form-control col-12"
          id="email-address"
          placeholder="name@example.com"
        />
      </div>

      <!-- fullname -->
      <div class="col-12 col-md-3">
        <label for="fullname" class="form-label"
          >User Fullname <span class="text-danger">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="text"
          value="Mark Zucker"
          class="form-control col-12"
          id="fullname"
          placeholder="fullname"
        />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      <div class="col-12">
        <a routerLink="/users" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
  </form>
</div>
