<div
  class="d-flex justify-content-center align-items-center flex-column mt-4 container"
>
  <h3>Change Password</h3>
  <form (ngSubmit)="onSubmit()">
    <!-- Change Password -->
    <div class="my-3 row align-items-center gy-md-4 gy-2">
      <!-- old password -->
      <div class="col-12 col-md-3">
        <label for="oldpassword" class="form-label"
          >Old Password <span class="text-danger">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="password"
          class="form-control col-12"
          id="oldpassword"
          placeholder="Old Password"
          formControlName="oldPassword"
        />
      </div>

      <!-- new password -->
      <div class="col-12 col-md-3">
        <label for="newpassword" class="form-label"
          >New Password <span class="text-danger">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="password"
          class="form-control col-12"
          id="newpassword"
          placeholder="New Password"
          formControlName="newPassword"
        />
      </div>

      <!-- confirm new password -->
      <div class="col-12 col-md-3">
        <label for="confirmnewpassword" class="form-label"
          >Confirm New Password <span class="text-danger">*</span></label
        >
      </div>
      <div class="col-12 col-md-9">
        <input
          type="password"
          class="form-control col-12"
          id="confirmnewpassword"
          placeholder="New Password"
          formControlName="confirmNewPassword"
        />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Change Password</button>
      </div>
      <div class="col-12">
        <button type="button" routerLink="/dashboard" class="btn btn-secondary">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
